[submodule "cms"]
	path = cms
	url = git://github.com/silverstripe/silverstripe-cms.git
[submodule "sapphire"]
	path = sapphire
	url = git://github.com/silverstripe/sapphire.git
[submodule "googlesitemaps"]
	path = googlesitemaps
	url = git://github.com/silverstripe-labs/silverstripe-googlesitemaps.git
[submodule "googleanalytics"]
	path = googleanalytics
	url = git://github.com/silverstripe-labs/silverstripe-googleanalytics.git
