[submodule "cms"]
	path = cms
	url = git://github.com/silverstripe/silverstripe-cms.git
[submodule "sapphire"]
	path = sapphire
	url = git://github.com/silverstripe/sapphire.git
[submodule "googlesitemaps"]
	path = googlesitemaps
	url = git://github.com/silverstripe-labs/silverstripe-googlesitemaps.git
[submodule "googleanalytics"]
	path = googleanalytics
	url = git://github.com/silverstripe-labs/silverstripe-googleanalytics.git
[submodule "blog"]
	path = blog
	url = git://github.com/silverstripe/silverstripe-blog.git
[submodule "forum"]
	path = forum
	url = git://github.com/silverstripe/silverstripe-forum.git
[submodule "disqus"]
	path = disqus
	url = git://github.com/silverstripesk/silverstripe-disqus.git
